*{
    margin: 0px;
    padding: 0px;
}

html{
    background-color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
}

.cuerpo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 90vh;
    gap: 3rem;
}

.tamaño-ima {
    background-image: url(./Imagenes/poser.png);
    display: flex;
    justify-content: center;
    height: 700px;
    width: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.diva {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.foto-inicio{
    border: 1px solid;
    
}

.instagram {
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    height: 400px;
    width: 375px;
    gap: 3rem;
    justify-content: center;
    align-items: center;    
    padding-top: 4rem;
}

.instagram img{
    cursor: pointer;
}

.instagram button{
    background-color: #B2DFFC;
    border: none;
    color: #FFFFFF;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 250px;
}

.info {
    height: 25px;
    width: 250px;
    background-color: #FAFAFA;
    border: #dbdbdb 1px solid;
    border-radius: 2px;
    padding: 5px;
}

.info:hover {
    border: #DBDBDB 1px solid;
}

.sesion {
    height: 30px;
    width: 265px;
    background-color: #FAFAFA;
    border: #dbdbdb 1px solid;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: -35px;
}

.sesion:hover {
    border: #DBDBDB 1px solid;
}

.o  {
    color: #8e8e8e;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.lineas {
    border: 1px #DBDBDB solid;
    height: 0px;
    width: 110px;
}

.facebook {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 60px;
    transition: 500ms ease;
    margin-top: -30px;
}

.facebook div {
    display: flex;
    color: #385185;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.facebook p {
    cursor: pointer;
}

.facebook p:hover {
    text-decoration: underline;
}

.registrate {
    display: flex;
    justify-content: center;
    gap: 6px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    width: 375px;
    height: 50px;
    align-items: center;
}
.registrate a {
    text-decoration: none;
}

.registrate a:hover {
    text-decoration: underline;
}

.descargas {
    display: flex;
    gap: 1rem;
    height: 50px;
    width: 50px;
    padding: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dividendo {
    display: flex;
    gap: 1rem;
    color: #8e8e8e;
}

.dividendo p {
    cursor: pointer;
}
.dividendo p:hover {
    text-decoration: underline;
}

.bernardo {
    color: #8e8e8e;
    font-size: 15px;
}